<?xml version="1.0" ?>
<model>
    <name>mobile_robot_with_arm</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>An Truong</name>
        <email>truan004</email>
    </author>
    <description>
        mobile_robot_with_arm
    </description>
</model>
