<?xml version="1.0"?>

<model>
  <name>mobile_robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>An Truong</name>
    <email>truan004</email>
  </author>

  <depend>
    <model>
      <uri>model://hokuyo</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    3D robot model
  </description>
</model>
